<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/AdminLTEcss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hold-transition skin-yellow sidebar-mini">
    <div class="wrapper">
        <header class="main-header">

            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>MOP</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">M. de Obras Públicas</span>
            </a>

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <span class="navbar-text">
                            ADMIN
                        </span>
                        <!-- Messages: style can be found in dropdown.less-->
                        <!-- User Account: style can be found in dropdown.less -->
                        <!-- Control Sidebar Toggle Button-->
                        <li class="dropdown user user-menu" style="margin-right:30px;">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Joel Peralta</b><i class="fa fa-user" style="margin-left: 10px;"></i></a>
                            <!-- User Account: style can be found in dropdown.less -->
                            <ul class="dropdown-menu" style="width: 100px">
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div style="display:flex; justify-content: center;">
                                        <a href="@Url.Action("Index", "Home")" class="btn btn-default btn-flat">Cerrar Sesión</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" style="margin-top: 30px;">
                    <li><a href="@Url.Action("IndexFuncionario", "Funcionario")"><i class="fa fa-table"></i><span><b>Listado de Reportes</b></span></a></li>
                    <li><a href="@Url.Action("InformeDeReporte", "Funcionario")"><i class="fa fa-table"></i><span><b>Listado de Informes</b></span></a></li>
                    <li><a href="@Url.Action("IndexDano", "Funcionario")"><i class="fa fa-table"></i><span><b>Listado de Daños Vehiculares</b></span></a></li>

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
        </div>

        <footer class="main-footer">
            <strong>Copyright &copy; 2020 <a href="#">Ingenieria de Software II</a>.</strong> Derechos Reservados
        </footer>
    </div>

    @Scripts.Render("~/Content/AdminLTEJs")
    @RenderSection("scripts", required: false)
</body>
</html>
