@model SitioAdmin.Models.InformeVM
@{
    ViewBag.Title = "Reportar Bache";
    Layout = "~/Views/Shared/_Layout_AdminLTE.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="panel-body">
            <div>
                <div class="box shadow-window box-solid box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">Reporte de Bache</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span style="font-weight: bold;">
                                        @Html.DisplayNameFor(x => x.Ubicacion)
                                    </span>
                                    @Html.TextBoxFor(x => x.Ubicacion, new { @class = "form-control", @placeholder = "Ingrese la Ubicacion..." })
                                </div>
                                <div class="form-group">
                                    <span style="font-weight: bold;">
                                        @Html.DisplayNameFor(x => x.Tamano)
                                    </span>
                                    @Html.TextBoxFor(x => x.Tamano, new { @class = "form-control", @placeholder = "Ingrese el Distrito..." })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span style="font-weight: bold;">
                                        @Html.DisplayNameFor(x => x.Brigada)
                                    </span>
                                    @Html.TextBoxFor(x => x.Brigada, new { @class = "form-control", @placeholder = "Ingrese la Brigada..." })
                                </div>
                                <div class="form-group">
                                    <span style="font-weight: bold;">
                                        @Html.DisplayNameFor(x => x.Equipamiento)
                                    </span>
                                    @Html.TextBoxFor(x => x.Equipamiento, new { @class = "form-control", @placeholder = "Ingrese la Equipamiento..." })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span style="font-weight: bold;">
                                        @Html.DisplayNameFor(x => x.HorasDeReparacion)
                                    </span>
                                    @Html.TextBoxFor(x => x.HorasDeReparacion, new { @class = "form-control", @placeholder = "Ingrese las Horas de Reparación..." })
                                </div>
                                <div class="form-group">
                                    <span style="font-weight: bold;">
                                        @Html.DisplayNameFor(x => x.EstadoBache)
                                    </span>
                                    @Html.TextBoxFor(x => x.EstadoBache, new { @class = "form-control", @placeholder = "Ingrese el Estado del Bache..." })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span style="font-weight: bold;">
                                        @Html.DisplayNameFor(x => x.CantRelleno)
                                    </span>
                                    @Html.TextBoxFor(x => x.CantRelleno, new { @class = "form-control", @placeholder = "Ingrese la Cantidad de Relleno..." })
                                </div>
                                <div class="form-group">
                                    <span style="font-weight: bold;">
                                        @Html.DisplayNameFor(x => x.CostoBache)
                                    </span>
                                    @Html.TextBoxFor(x => x.CostoBache, new { @class = "form-control", @placeholder = "Ingrese el Costo Total de Reparación..." })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span style="font-weight: bold;">
                                        @Html.DisplayNameFor(x => x.IdBache)
                                    </span>
                                    @Html.TextBoxFor(x => x.IdBache, new { @class = "form-control", @placeholder = "Ingrese el No de Reporte de Bache" })
                                </div>
                            </div>
                            <div class="col-md-12" style="display: flex; justify-content:flex-end; ">
                                <div class="form-group">
                                    <a href="@Url.Action("IndexFuncionario", "Funcionario")" class="btn btn-success float-left" onclick="CrearInformeReporte();">Registrar</a>
                                    <a href="@Url.Action("IndexFuncionario", "Funcionario")" class="btn btn-danger float-left">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>