<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/AdminLTEcss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">

            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>MOP</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">M. de Obras Públicas</span>
            </a>

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <!-- User Account: style can be found in dropdown.less -->
                        <!-- Control Sidebar Toggle Button-->
                        <li>
                            @*@Html.DisplayFor(modelItem => modelItem.Nombre)*@
                            <a href="#" data-toggle="control-sidebar" style="margin-right:20px;"><b>Jorge Herrera</b><i class="fa fa-user" style="margin-left: 10px;"></i></a>


                        </li>
                    </ul>
                </div>

            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" style="margin-top: 30px;">
                    <li><a href="@Url.Action("CreateReporte", "Ciudadano")"><i class="fa fa-pencil"></i><span><b>Reportar Bache</b></span></a></li>
                    <li><a href="@Url.Action("IndexCiudadano", "Ciudadano")"><i class="fa fa-table"></i><span><b>Listado de Baches Reportados</b></span></a></li>
                    <li><a href="@Url.Action("DanosVehiculares", "Ciudadano")"><i class="fa fa-car"></i><span><b>Reportar Daños Vehiculares</b></span></a></li>
                    <li><a href="@Url.Action("IndexDano", "Ciudadano")"><i class="fa fa-table"></i><span><b>Listado de Daños Vehiculares</b></span></a></li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
        </div>

        <footer class="main-footer">
            <strong>Copyright &copy; 2020 <a href="#">Ingenieria de Software II</a>.</strong> Derechos Reservados
        </footer>
    </div>

    @Scripts.Render("~/Content/AdminLTEJs")
    @RenderSection("scripts", required: false)
</body>
</html>
