@model SMICISite.Models.BachesVM
@{ ViewBag.Title = "Reportar Bache";
                Layout = "~/Views/Shared/_Layout_AdminLTE.cshtml"; }


<div class="row">
    <div class="col-xs-12">
        <div class="panel-body">
            <div>
                <div class="box shadow-window box-solid box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Reporte de Bache</h3>
                    </div>

                    <!-- /.box-header -->

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span style="font-weight: bold;">
                                        @Html.DisplayNameFor(x => x.Calle)
                                    </span>
                                    @Html.TextBoxFor(x => x.Calle, new { @class = "form-control", @placeholder = "Ingrese la Calle..." })
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <span style="font-weight: bold;">
                                        @Html.DisplayNameFor(x => x.Distrito)
                                    </span>
                                    @Html.TextBoxFor(x => x.Distrito, new { @class = "form-control", @placeholder = "Ingrese el Distrito..." })
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span style="font-weight: bold;">
                                        @Html.DisplayNameFor(x => x.Tamano)
                                    </span>
                                    @Html.TextBoxFor(x => x.Tamano, new { @class = "form-control", @placeholder = "Ingrese el tamaño del 1 al 10..." })
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <span style="font-weight: bold;">
                                        @Html.DisplayNameFor(x => x.Posicion)
                                    </span>
                                    @Html.TextBoxFor(x => x.Posicion, new { @class = "form-control", @placeholder = "Ingrese la Posición del bache en la vía..." })
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <div class="col-md-12" style="display: flex; justify-content:flex-end; ">
                                <div class="form-group">
                                    <a href="@Url.Action("IndexCiudadano", "Ciudadano")" class="btn btn-success float-left" onclick="CrearReporteBache();">Registrar</a>
                                    <a href="@Url.Action("IndexCiudadano", "Ciudadano")" class="btn btn-danger float-left">Cancelar</a>
                                    <!-- /.form-group -->
                                </div>
                            </div>

                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>

                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
</div>
