@{ ViewBag.Title = "Listado de reportes";
                Layout = "~/Views/Shared/_Layout_AdminLTE.cshtml"; }

@model IEnumerable<SMICISite.Models.BachesVM>

<div class="row">
    <div class="col-xs-12">
        <div class="panel-body">
            <div>
                <div class="box shadow-window box-solid box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Listado de Solicitudes</h3>
                    </div>
                    <div class="box-body">
                        <div>
                            <table class="table table-striped" id="dataTables-ListaSolicitudes">
                                <thead>
                                    <tr>
                                        <th style="width:auto">
                                            No. de Reporte
                                        </th>
                                        <th style="width:auto">
                                            Calle
                                        </th>
                                        <th style="width:auto">
                                            Distrito
                                        </th>
                                        <th style="width:auto">
                                            Tamaño
                                        </th>
                                        <th style="width:auto">
                                            Posición
                                        </th>
                                        <th style="width:auto">
                                            Fecha de Creación
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                        <tr>
                            <td style="width:auto">
                                @Html.DisplayFor(modelItem => item.IdBache)
                            </td>
                            <td style="width:auto">
                                @Html.DisplayFor(modelItem => item.Calle)
                            </td>
                            <td style="width:auto">
                                @Html.DisplayFor(modelItem => item.Distrito)
                            </td>
                            <td style="width:auto">
                                @Html.DisplayFor(modelItem => item.Tamano)
                            </td>
                            <td style="width:auto">
                                @Html.DisplayFor(modelItem => item.Posicion)
                            </td>
                            <td style="width:auto">
                                @Html.DisplayFor(modelItem => item.Fcreacion)
                            </td>
                        </tr>}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>